# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv
venv/
build/
dist/
*.egg-info/

# Playwright
playwright-report/

# Node/React
node_modules/
build/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/
*.swp 